<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOFA</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <header
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.header.partial.html"
        ></header>
    <main>
<!--section 1-->
      <section class="hero">
        <div class="hero__conteiner">
          <ul>
            <li>
              <h2><span class="green-text">Furniture</span> for Home & Office</h2>
            </li>
            <li>
              <p>500+ models of cushioned furniture, lamps and accessories.</p>
            </li>
            <li>
              <a href="#Best-selling" class="green-btn">BEST-SELLING PRODUCTS ----></a>
            </li>
          </ul>
        </div>
      </section>

<!--section 2-->
      <section id="Promotions" class="promotion container">
        <div class="promotion__item">
          <img src="./img/promotions/bed-room.jpg" alt="Bedroom">
          <h4><span class="green-text">15% off</span> on Tables & Cabinets</h4>
          <a href="index.html">LEARN MORE ---></a>
        </div>
        <div class="promotion__item">
          <img src="./img/promotions/white-room.jpg" alt="White room with big window">
          <h4>All-White Collection in Store</h4>
          <a href="index.html">LEARN MORE ---></a>
        </div>
        <div class="promotion__item">
          <img src="./img/promotions/baby-room.jpg" alt="Baby bedroom">
          <h4><span class="green-text">NEW!</span> Modern Collection by ARM</h4>
          <a href="index.html">LEARN MORE ---></a>
        </div>
      </section>

<!--section 3 finished -->
      <section class="dot-banner">
        <h2 class="container"><span class="green-text">Top Collections</span> of Designer Cushioned Furniture</h2>
      </section>

<!--section 4-->
      <section id="Best-selling">
        <h3>Best-selling Products</h3>
        <p>Our customers' faves of the week</p>
      </section>

<!--section 5-->
      <section>
        <h2>Spring <span class="green-text">2024</span> collection</h2>
        <p>Best styles for your home or office in the most trending colors of 2024. Shop cushioned furniture, lamps, coffee tables and accessories here.</p>
        <a href="#2024 Collection" class="green-btn">OUR FAVES ---></a>
      </section>

<!-- ????? section 6-->
      <section></section>

<!--section 7-->
      <section id="2024 Collection">
        <h3>Our Fave Finds</h3>
        <p>The best designer products from the 2024 collections.</p>
      </section>

<!--section 8-->
      <section class="companies-carousel">
        <div class="companies-carousel__inner">
          <button class="companies-carousel__btn-prev carousel-btn">&#10094;</button>
          <div class="companies-carousel__slides"></div>
          <button class="companies-carousel__btn-next carousel-btn">&#10095;</button>
        </div>
      </section>

<!-- ??????? section 9-->
      <section></section>

<!--section 10-->
      <section id="Testimonials" class="our-customers-say">
        <h3 class="our-customers-say__title">What Our Customers Say</h3>
        <p class="our-customers-say__testimonials">We love your feedback on our products!</p>
        <div class="our-customers-say__carousel container">
          <div class="our-customers-say__inner">
              <button class="our-customers-say__btn-prev carousel-btn">&#10094;</button>
              <div class="our-customers-say__slides">
              </div>
              <button class="our-customers-say__btn-next carousel-btn">&#10095;</button>
          </div>
        </div>
      </section>

<!-- ?????? section 11-->
      <section></section>

<!-- ?????? section 12-->
      <section></section>

<!-- ?????? section 13-->
      <section id="Contact us"></section>
    </main>
    <footer
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="./scripts/index.js"></script>
  </body>
</html>
