<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOFA</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.header.partial.html"
        ></header>
    <main>
      <section>
        <h2>Furniture for Home & Office</h2>
        <p>500+ models of cushioned furniture, lamps and accessories.</p>
      </section>
      <section id="Promotions">

      </section>
      <section>
        <h2>Top Collections of Designer Cushioned Furniture</h2>
      </section>
      <section id="Best-selling">
        <h3>Best-selling Products</h3>
        <p>Our customers' faves of the week</p>
      </section>
      <section>
        <h2>Spring 2020 collection</h2>
        <p>Best styles for your home or office in the most trending colors of 2020. Shop cushioned furniture, lamps, coffee tables and accessories here.</p>
      </section>
      <section></section>
      <section id="2024 Collection">
        <h3>Our Fave Finds</h3>
        <p>The best designer products from the 2024 collections.</p>
      </section>
      <section></section>
      <section></section>
      <section id="Testimonials">
        <h3>What Our Customers Say</h3>
        <p>We love your feedback on our products!</p>
      </section>
      <section></section>
      <section></section>
      <section></section>
      <section id="Contact us">

      </section>
    </main>
    <footer
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="global.footer.partial.html"
        ></footer>
  </body>
</html>
