.header__nav {
  padding: 30px 15px;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-direction: column;
}
.header__menu-item:hover {
  color: #7bb57c;
}
.menu-btn {
  border-radius: 5px;
  border: 2px #7bb57c;
}

@media (min-width: 990px) {
  .header__menu {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
  .header__nav {
    display: flex;
  }
}
